.step-list{
  li {
    min-width: 216px;
    padding: 16px;
    margin: 8px 16px;
    border-radius: 10px;
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.2);
    &.active {
      background-color: $primary;
      color: #fff;
    }
  }
}
.cart-list {
  max-width: 1100px;
  margin: 0 auto;
}
.cart-list-table {
  @include apple() {
    thead {
      display: none;
    }
  }
  tbody {
    td {
      padding: 18px 0;
      @include apple() {
        display: block;
        border-bottom: none;
        padding: 10px 0;
        &:nth-child(1) {
          padding: 0;
        }
        &:nth-child(5) {
          border-bottom: 1px solid $gray-400 !important;
          padding: 10px 0 18px 0;
          margin-bottom: 12px;
        }
      }
    }
    img {
      width: 80px;
      height: 100px;
      object-fit: cover;
      object-position: center;
      margin-right: 16px;
    }
    @include apple() {
      .td-before {
        &:before {
          content: attr(data-title);
          display: inline-block;
          width: auto;
          color: #000;
          min-width: 20%;
          font-weight: 900;
          padding-right: 16px;
        }
      }
    }
  }
  tfoot {
    td {
      padding: 24px 0;
    }
  }
}
.cart-list-note {
  max-width: 1100px;
  margin: 0 auto;
  padding: 40px 24px;
  li {
    line-height: 36px;
  }
}
