.step-list{
  li {
    min-width: 300px;
    padding: 16px;
    margin: 8px 16px;
    border-radius: 10px;
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.2);
    &.active {
      background-color: $primary;
      color: #fff;
    }
  }
}
.cart-list-table {
  max-width: 1100px;
  margin: 0 auto;
  tbody {
    td {
      padding: 18px 0;
    }
    img {
      width: 80px;
      height: 100px;
      object-fit: cover;
      object-position: center;
      margin-right: 16px;
    }
  }
  tfoot {
    td {
      padding: 24px 0;
    }
  }
}
