@mixin extraDesktops {
  @media (max-width: 1400px) {
    @content;
  }
}
@mixin largeDesktops {
  @media (max-width: 1200px) {
    @content;
  }
}
@mixin mdDesktops {
  @media (max-width: 1024px) {
    @content;
  }
}
@mixin Desktops {
  @media (max-width: 992px) {
    @content;
  }
}
@mixin pad {
  @media (max-width: 767px) {
    @content;
  }
}
@mixin apple {
  @media (max-width: 576px) {
    @content;
  }
}
@mixin mobile480 {
  @media (max-width: 480px) {
    @content;
  }
}
@mixin appleX {
  @media (max-width: 414px) {
    @content;
  }
}
@mixin apple6 {
  @media (max-width: 375px) {
    @content;
  }
}
@mixin apple5 {
  @media (max-width: 320px) {
    @content;
  }
}
