.userProduct-img {
  img {
    width: 700px;
    height: 540px;
    object-fit: cover;
    @include pad() {
      height: 360px;
    }
    @include mobile480() {
      height: 280px;
    }
  }
}

.userProduct-wrap {
  li {
    width: 23%;
    @include largeDesktops() {
      width: 30%;
    }
    @include pad() {
      width: 45%;
    }
    @include mobile480() {
      width: 100%;
    }
  }
}
